.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-img-top {
    transform: scale(1);
    border-radius: 15px;
    height: 260px;
    object-fit: cover;
}
.overflow {
    overflow: hidden;
}
.card-img-top:hover {
    transform: scale(1.8);
}